@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-custom {
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px
    }
    .shadow-circle {
        box-shadow: 0px 0px 10px 10px salmon
    }

    .shadow-skill-card {
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px;
    }
  }
  